body {
	background: linear-gradient(to bottom, #1E90FF, #6495ED, #ADD8E6);
	background-size: 100%;
	background-repeat: no-repeat;
}

#header1 {
  color: white;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 300%;
  margin-top: 50px;
}

#header2 {
  color: #1E90FF;
  text-align: center;
  font-family: 'Rubik Beastly', cursive;
  font-size: 300%;
  margin-top: 150px;
}

#p1 {
  color: #6495ED;
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 200%;
  margin-top: 50px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.triangle {
	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-top:150px solid #DCDCDC;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	animation: blink 1.5s infinite;
}

.triangle2 {
	animation: blink 2s infinite;
}

.triangle3 {
	animation: blink 1.5s infinite;
}

.triangle4 {
	animation: blink 2s infinite;
}

.triangle5 {
	animation: blink 1.5s infinite;
}

.tear {
  width: 50px;
  height: 50px;
  border-radius: 0 50% 50% 50%;
  border: 3px solid black;
  transform: rotate(45deg);
  margin-top: 20px;
}