body {
  background-color: #6495ED;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 300%;
  margin-top: 150px;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-top:150px solid #DCDCDC;
	position: fixed;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.triangle {
	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-top:150px solid #DCDCDC;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
}