body {
  background: linear-gradient(to bottom, #1E90FF, #6495ED, #ADD8E6);
	background-size: 100%;
	background-repeat: no-repeat;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 300%;
  margin-top: 50px;
}

h2 {
  color: #6495ED;
  text-align: center;
  font-family: 'Rubik Beastly', cursive;
  font-size: 300%;
  margin-top: 150px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.triangle {
	width: 0;
	height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-top:150px solid #DCDCDC;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	animation: blink 1.5s infinite;
}